*{
    scroll-behavior: smooth; 
}
/* header */

/* navbar */
.scaligent {
  border-top: 3px chocolate solid;
}
nav {
  font-size: 14px;
}
.hover-li:hover{
border-bottom: 2px solid Tomato !important; 
}
.logo {
  width: 10%;
  height: 65px;
}
.logo a img {
  width: 120px;
}
.font-s {
  font-size: 14px;
}
.links li a {
  color: rgb(78, 78, 78);
}
.links li a:hover {
  color: black !important;
}

/* carees section */
.layer {
  height: 344px;
  background-image: url("../image/steven-skerritt-vljZeX-WdQs-unsplash.jpg");
}
.carees {
  background-color: rgba(0, 0, 0, 0.5) !important;
  color: #fff;
  border-left: 5px solid chocolate;
  border-radius: 5px;
  width: 350px;
  font-family: "open sans", arial;
}
/* sectoin formative */
.bakground {
  background-color: #e7e8eb;
}
.formative {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "open sans", arial;
}
.icon {
  margin-bottom: 10px;
  text-transform: uppercase;
}
/* bouns-perks  */
.bouns-perks {
  background-color: #35383f;
  color: #fff;
}
/* .bouns {
  margin: 20px 0px 40px 95px;
} */
.font-thin {
  font-size: 15px;
}
.color-icon-right {
  color: Tomato;
}
.right-mark {
  padding-right: 15px !important;
}
/* legal */
.legal {
  background-color: #353a40;
  color: #fff;
}
/* footer */
footer{
  background-color: #2A2D34;
  color: #3D4047;
}
/* @media (max-width: 660px) {
  .nav {
    display: none;
  }
} */
